.sunburst-viz>svg {
    height: auto !important;
    /* min-height: 600px !important; */
    width: unset !important;
}

.sunburst-viz {
    height: 100%;
    width: 180%;
}

#myChart {
    display: flex;
    justify-content: space-evenly;
    min-width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

svg>* {
    font-size: 20px !important;
    overflow: ellipsis;
}