.sunburst-viz>svg {
    height: auto !important;
    /* min-height: 600px !important; */
    width: unset !important;
}

.sunburst-viz {
    height: 100%;
    width: 120%;
}

#myChart {
    display: flex;
    justify-content: space-evenly;
    min-width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

svg>* {
    font-size: 20px !important;
    overflow: ellipsis;
}

.title {
    font-weight: 600;
}

.description {
    color: darkgray;
}

.section-div {
    @media screen {}
}

@media screen and (max-width: 600px) {
    .fi-wi-widget {
        --col-span-default: span 2 / span 1 !important;
    }
}